@inject MetasService metasServices
@rendermode InteractiveServer
@page "/DeleteMeta";
@page "/DeleteMeta/{MetaId:int}";

<PageTitle>Detalle Meta</PageTitle>

<div class="card shadow-lg">
    <div class="card-header">
        <h3>Eliminar Meta</h3>
    </div>

    <div class="card-body">
        <p><strong>Id:</strong> @meta.MetaId</p>
        <p><strong>Fecha:</strong> @meta.Fecha.ToString("dd/MM/yyyy")</p>
        <p><strong>Descripci&oacute;n:</strong> @meta.Descripcion</p>
        <p><strong>Monto:</strong> @meta.Monto</p>
    </div>
    <div class="card-footer d-flex justify-content-end input-group">
        <a href="/MetasIndex" class="btn btn-primary">Volver</a>
        <button type="button" class="btn btn-danger bi bi-trash-fill" @onclick="Eliminar">Eliminar</button>
    </div>
</div>

@code {
    [Parameter]
    public int MetaId { get; set; }
    public Metas meta { get; set; } = new Metas();

    protected override async Task OnInitializedAsync()
    {
        if (MetaId > 0)
        {
            meta.MetaId = MetaId;
            await Buscar();
        }
    }

    public async Task Buscar()
    {
        var ticketbuscado = await metasServices.Buscar(meta.MetaId);
        if (ticketbuscado != null)
        {
            meta = ticketbuscado;
        }
        else
        {
            meta = new Metas();
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await metasServices.Eliminat(meta);
        if (eliminado)
        {
            meta = new Metas();
            await Buscar();
        }
    }
}
